@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5; }

/* Barra de navegación */
header {
  background-color: #101E5A;
  margin-right: 0px !important; }
  header .buttonContacto {
    background-color: #4CAF50; }

.fijo {
  position: fixed; }

.menu a {
  font-size: 12pt;
  border-bottom: solid 4px #101E5A;
  transition: all 0.3s ease-out; }
  .menu a:hover {
    color: #4CAF50 !important;
    border-bottom: solid 4px #4CAF50; }

/* Fin barra de navegacion */
/* Inicio Carrusel */
@media screen and (max-width: 1440px) {
  .carousel {
    height: 550px; } }

@media screen and (min-width: 1440px) {
  .carousel {
    height: 750px; } }

.carousel-indicators {
  position: absolute;
  top: 140px;
  left: -880px; }

.carousel-position {
  position: relative;
  top: -320px; }

.carousel-caption {
  width: 500px; }
  .carousel-caption h1 {
    color: #4CAF50; }

.carousel-button {
  position: absolute;
  top: -120px; }

/* BTN FLOTANTE */
.btn-flotante {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 10px;
  right: 30px;
  color: white;
  background-color: #4CAF50;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  z-index: 100; }
  .btn-flotante .bi-whatsapp {
    color: white;
    font-size: 25px; }
  .btn-flotante .bi-arrow-up-short {
    color: white;
    font-size: 25px; }

.btn-flotante:hover {
  background-color: white; }
  .btn-flotante:hover .bi-whatsapp {
    color: #4CAF50 !important; }
  .btn-flotante:hover .bi-arrow-up-short {
    color: #4CAF50 !important; }

/* Fin Carrusel */
/* Inicio Tocados y Accesorios */
/* CARDS */
.card {
  position: relative;
  transition: all 1s ease-out; }
  .card img {
    position: relative;
    z-index: 1; }
  .card .card-title {
    font-size: 16px; }
  .card .btn {
    background-color: #4CAF50;
    font-size: 10px;
    z-index: 1; }
  .card .card-ver {
    position: relative;
    font-size: 12px;
    z-index: 1; }

.card__descripcion {
  height: 40px;
  opacity: 0;
  font-size: 14px;
  position: relative;
  width: 100%;
  background-color: #101E5A;
  color: white;
  font-weight: bold;
  margin-top: -115px;
  transition: all 1s ease-out; }
  .card__descripcion p {
    font-size: 10px; }

.card:hover {
  transform: scale(1.1); }

.card:hover .card__descripcion {
  transform: scale(1.14, 1.13);
  opacity: 1;
  z-index: 1; }

.card:hover img {
  object-fit: cover; }

.card-dos {
  position: relative;
  top: -60px; }

/* Fin Tocados y Accesorios */
/* Inicio Quienes somos */
.fondoQuienesSomos {
  background-color: #101E5A; }

.tituloQuienesSomos {
  color: #4CAF50;
  font-size: 25pt;
  font-weight: 700; }

.textoQuienesSomos {
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF; }

/* Fin Quienes somos */
/* Inicio Catalogo */
.linksCatalogo {
  text-decoration: none;
  color: black; }
  .linksCatalogo:hover {
    color: #4CAF50 !important; }

.catalogo h2 {
  color: #575757; }

.catalogo h4 {
  color: #575757; }

/* Fin Catalogo */
/* Pie de página */
#pie {
  background-color: #101E5A;
  font-size: 14pt; }

footer .letraChica {
  font-size: 10pt; }

footer .textoBlanco {
  color: #FFFFFF;
  font-weight: 700; }

footer .textoVerde {
  color: #4CAF50;
  font-weight: 700; }

footer .linksFooter {
  text-decoration: none;
  color: #FFFFFF; }
  footer .linksFooter:hover {
    color: #4CAF50 !important; }

footer .buttonContacto {
  background-color: #4CAF50; }

footer .textoContactos {
  font-size: 12pt; }

/* Fin del pie */
