$blanco: #FFFFFF;
$azulOscuro: #101E5A;
$azulClaro: #233171;
$verde: #4CAF50;
$gris: #575757;

body{
    font-family: 'Roboto', sans-serif;
}

/* General */
/* Fin general */


/* Barra de navegación */
header{
    background-color: $azulOscuro;
    margin-right: 0px !important; 
    .buttonContacto{
        background-color: $verde;
    }
}

.menu{
    a{ 
        border-bottom: solid 4px $azulOscuro;
        transition: all 0.3s ease-out;
        &:hover{
            color: $verde !important;
            border-bottom: solid 4px $verde;
        }
    }
}

/* Fin barra de navegacion */


/* Inicio Carrusel */
.carousel{
    height: 550px;
    &-indicators{
        position: absolute;
        top: 140px;
        left: -880px; 
    }
    &-position{
        position: relative;
        top: -320px; 
    }
    &-caption{
        width: 500px; 
        h1{
            color: $verde;
        }
    }
    &-button{
        position: absolute;
        top: -120px;
    }
}
/* Fin Carrusel */


/* Inicio Tocados y Accesorios */
.card{
    .card-title{
        font-size: 12px;
        position: absolute;
        top: 175px;
        font-size: 16px;
    }
    .btn{
        background-color: $verde;
        font-size: 12px;
    }
    .card-ver{
        font-size: 12px;
    }
}

.card-dos{
    position: relative;
    top: -80px;
}
/* Fin Tocados y Accesorios */


/* Inicio Quienes somos */

.fondoQuienesSomos{
    background-color: $azulOscuro;
}

.tituloQuienesSomos{
    color: $verde;
    font-size: 25pt;
    font-weight: 700;
}

.textoQuienesSomos{
    font-size: 14px;
    font-weight: 300;
    color: $blanco;
}

/* Fin Quienes somos */


/* Inicio Iconos */
/* Fin Iconos */


/* Inicio Contacto */
/* Fin Contacto */


/* Inicio Preguntas Frecuentes */
/* Fin Preguntas Frecuentes */

/* Inicio Catalogo */

.linksCatalogo{
    text-decoration:none;
    color: black;
    &:hover{
        color: $verde !important;
    }
}

.catalogo{
    h2{
        color: $gris
    }
    h4{
        color:$gris
    }
}

/* Fin Catalogo */


/* Pie de página */
#pie{
    background-color: $azulOscuro;
    font-size: 14pt;
}

footer{
    
    .textoBlanco{
        color: $blanco;
        font-weight: 700;
    }
    
    .textoVerde{
        color: $verde;
        font-weight: 700;
    }
    
    .linksFooter{
        text-decoration:none;
        color: $blanco;
        &:hover{
            color: $verde !important;
        }
    }
    
    .buttonContacto{
        background-color: $verde;
    }

    .textoContactos{
        font-size: 12pt;
    }

}




/* Fin del pie */