$blanco: #FFFFFF;
$azulOscuro: #101E5A;
$azulClaro: #233171;
$verde: #4CAF50;
$gris: #575757;
$fondo: #E5E5E5;

body{
    font-family: 'Roboto', sans-serif;
    background-color: $fondo;
}

/* Barra de navegación */
header{
    background-color: $azulOscuro;
    margin-right: 0px !important; 
    .buttonContacto{
        background-color: $verde;
    }
}

.fijo{
    position: fixed;
}

.menu{
    a{ 
        font-size: 12pt;
        border-bottom: solid 4px $azulOscuro;
        transition: all 0.3s ease-out;
        &:hover{
            color: $verde !important;
            border-bottom: solid 4px $verde;
        }
    }
}

/* Fin barra de navegacion */


/* Inicio Carrusel */

@media screen and (max-width: 1440px){
    .carousel{
        height: 550px;
    }
}

@media screen and (min-width: 1440px){
    .carousel{
        height: 750px;
    }
}


.carousel{
    &-indicators{
        position: absolute;
        top: 140px;
        left: -880px; 
    }
    &-position{
        position: relative;
        top: -320px; 
    }
    &-caption{
        width: 500px; 
        h1{
            color: $verde;
        }
    }
    &-button{
        position: absolute;
        top: -120px;
    }
}

/* BTN FLOTANTE */

.btn-flotante{
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    bottom: 10px; 
    right: 30px;
    color: white;
    background-color: $verde;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    border-radius: 50px;
    z-index: 100;
    .bi-whatsapp{
        color:white;
        font-size: 25px;
    }
    .bi-arrow-up-short{
        color:white;
        font-size: 25px;
    }
}

.btn-flotante:hover{
    background-color: white;
    .bi-whatsapp{
    color: #4CAF50 !important;
    }
    .bi-arrow-up-short{
        color: #4CAF50 !important;
    }
}

/* Fin Carrusel */


/* Inicio Tocados y Accesorios */
/* CARDS */

.card{
    position: relative;
    transition: all 1s ease-out;
    img{
        position: relative;
        z-index: 1;
    }
    .card-title{
        font-size: 16px;
    }
    .btn{
        background-color: $verde;
        font-size: 10px;
        z-index: 1;
    }
    .card-ver{
        position: relative;
        font-size: 12px;
        z-index: 1;
    }
}

.card__descripcion{
    height: 40px;
    opacity: 0;
    font-size: 14px;
    position: relative;
    width: 100%;
    background-color: $azulOscuro;
    color: white;
    font-weight: bold;
    margin-top: -115px ;
    transition: all 1s ease-out;
    p{
        font-size: 10px;
    }
}

.card:hover{
    transform: scale(1.1);
}

.card:hover .card__descripcion{
    transform: scale(1.14, 1.13);
    opacity: 1;
    z-index: 1;
}

.card:hover img{
    object-fit: cover;
}

.card-dos{
    position: relative;
    top: -60px;
}
/* Fin Tocados y Accesorios */


/* Inicio Quienes somos */

.fondoQuienesSomos{
    background-color: $azulOscuro;
}

.tituloQuienesSomos{
    color: $verde;
    font-size: 25pt;
    font-weight: 700;
}

.textoQuienesSomos{
    font-size: 14px;
    font-weight: 300;
    color: $blanco;
}

/* Fin Quienes somos */


/* Inicio Catalogo */

.linksCatalogo{
    text-decoration:none;
    color: black;
    &:hover{
        color: $verde !important;
    }
}

.catalogo{
    h2{
        color: $gris
    }
    h4{
        color:$gris
    }
}

/* Fin Catalogo */


/* Pie de página */
#pie{
    background-color: $azulOscuro;
    font-size: 14pt;
}

footer{

    .letraChica{
        font-size: 10pt;
    }
    
    .textoBlanco{
        color: $blanco;
        font-weight: 700;
    }
    
    .textoVerde{
        color: $verde;
        font-weight: 700;
    }
    
    .linksFooter{
        text-decoration:none;
        color: $blanco;
        &:hover{
            color: $verde !important;
        }
    }
    
    .buttonContacto{
        background-color: $verde;
    }

    .textoContactos{
        font-size: 12pt;
    }

}




/* Fin del pie */